{% extends "./base.html" %}
{% load i18n static %}

{% block more_style %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock breadcrumbs %}

{% block content %}

<style>
	ul { list-style: none; }
	li { color: red; }
    .hidden { display: none; }
</style>

{% if validlink %}
{% load crispy_forms_tags %}
<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break text-center border-brand-blue">
		<div class="text-center title"><h2>Reset Password</h2></div>
        <p>
            {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <div class="form-container">
            <form method="post">
                {% crispy form %}
                <div class="d-flex pad-container justify-content-center">
                    <input class="bttn-brand-blue" type="submit" value="{% translate 'Change password' %}">
                </div>
            </form>
        </div>
    </div>
</div>
<br>

{% else %}
<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break text-center border-brand-blue">
        <div class="text-center title"><h2>Reset Link Invalid</h2></div>
        <p class="center-container">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    </div>
</div>
{% endif %}

{% endblock content %}