{% extends './base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-sm flow">
    <div class="lightly-pad-container shadow text-break text-center border-brand-blue">
        <div class="text-center title"><h2>Reset Password</h2></div>
        <p>
            <span style="font-size: 1.2rem;">Forgotten your password?</span><br>
            Enter your email address below, and we'll email instructions
            for setting a new one.
        </p>
        <div class="form-container">
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex pad-container justify-content-center">
                    <button class="bttn-brand-blue" type="submit">Send</button>
                    <button class="bttn-danger" style="margin-left: 6em;" onclick="javascript:history.back();">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}