{% extends './base.html' %}
{% block page_title %}Unassign {{ section_code }} {% endblock page_title %}

{% block more_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock more_links %}

{% block content %}
<br>
<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break text-center">
		<h2 class="ff-sans-bolder">Unassign {{ section_code }}</h2>
		<div class="form-container">
			<div>
				<p>
					Unassigning {{ section_code }} from {{ project_name }}
					cannot be undone. Are you sure you want to unassign?
				</p>
				<div class="form-row center">
					<div class="col-25" style="text-align: left;">
					</div>
					<div class="col-25" style="text-align: left;">
						<button class="bttn-brand-blue" onclick="javascript:history.back();">Cancel</button>
					</div>
					<div class="col-25" style="text-align: left;">
						<a href="{% url 'professors:remove_section' section_id project_id %}"><button class="bttn-danger">Unassign</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
