{% extends './base.html' %}
{% block page_title %}Delete {{ item_name }} {% endblock page_title %}

{% block more_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock more_links %}

{% block content %}
<br>
<div class="container-sm flow">
	<div class="lightly-pad-container shadow text-break text-center">
		<h2 class="ff-sans-bolder">Delete {{ item_name }}</h2>
		<div class="form-container">
			<div>
				<p>
					Deleting this {{ item_name }} {{ item_description }}
					cannot be undone. Are you sure you want to delete?
				</p>
				<div class="form-row center">
					<div class="col-25" style="text-align: left;">
					</div>
					<div class="col-25" style="text-align: left;">
						<button class="bttn-brand-blue" onclick="javascript:history.back();">Cancel</button>
					</div>
					<div class="col-25" style="text-align: left;">
						<a href="{% url item_delete_url item_id %}"><button class="bttn-danger">Delete</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
