{% extends './base.html' %}

{% block page_title %}Index{% endblock page_title %}

{% block more_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock more_links %}

{% block content %}
{% load professors_filters %}
{% load string_filters %}
<div class="container flow">
    <div class="row card-row">
        <div class="col-sm card-thin-border bg-white" style="height: 450px; overflow-x: hidden; overflow-y: scroll;">
            <div class="lightly-pad-container bg-brand-blue text-white text-break" style="margin-bottom: 1rem;">
                <h3 class="ff-sans-bolder text-center text-white textshadow">My Courses</h3>
            </div>
            <div class="lightly-pad-container bg-white">
                <a href="{% url 'professors:manage_courses_and_projects' 'courses'%}"><button class="bttn-outline-brand-blue">Go to Courses Tab</button></a>
            </div>
            {% for course in courses %}
            <div class="lightly-pad-container bg-white mb-3 shadow" style="word-wrap: normal;">
                <h4 class="ff-sans-bolder">{{ course.description }}</h4>
                <div class="ff-sans-bolder fs-400">({{ course.code}})</div>
                <hr>
                {% sections_by_course course as sections %}
                {% for section in sections %}
                <div class="row">
                    <div class="col-sm ff-sans-bolder">{{ section.section_code }}</div>
                    <span class="col-sm">
                        {% with 'section-projects-'|addstr:section.id as s_id %}
                        <a href="{% url 'professors:manage_courses_and_projects' 'projects' s_id %}">Projects</a>&emsp;&emsp;
                        {% endwith %}
                        <a href="{% url 'professors:add_students' professor.institution.id section.id 'home' %}">Students</a>
                    </span>
                </div>
                <hr>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div class="col-xs"><p>&emsp;&emsp;</p></div>

        <div class="col-sm card-thin-border bg-white" style="height: 450px; overflow-x: hidden; overflow-y: scroll;">
            <div class="lightly-pad-container bg-brand-blue text-white text-break" style="margin-bottom: 1rem;">
                <h3 class="ff-sans-bolder text-center text-white textshadow">My Projects</h3>
            </div>
            <div class="lightly-pad-container bg-white">
                <a href="{% url 'professors:manage_courses_and_projects' 'projects'%}"><button class="bttn-outline-brand-blue">Go to Projects Tab</button></a>
            </div>
            {% for course in courses %}
            <div class="lightly-pad-container bg-white mb-3 shadow" style="word-wrap: normal;">
                {% projects_by_course course as projects %}
                {% for project in projects %}
                <h4 class="ff-sans-bolder mt-3 mb-3">{{ project.title }} - {{ course.code }}</h4>
                {% for section in course.section_set.all %}
                <hr>
                <div class="row">
                    <div class="col-sm ff-sans-bolder">{{ section.section_code }}</div>
                    <span class="col-sm">
                        <a href="#">Evaluations</a>&emsp;&emsp;
                        <a href="{% url 'professors:add_students' professor.institution.id section.id 'home' %}">Students</a>
                    </span>
                </div>
                <br>
                {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}