{% extends './base.html' %}

{% block page_title %}Create a Course{% endblock page_title %}

{% block more_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock more_links %}

{% block content %}
{% load professors_filters %}
{% load string_filters %}
<div class="tab container-lg fs-500 br-2 shadow">
    <button class="tablinks" id="courses" onclick="openTab(event, 'courses-tab')">Courses</button>
    <button class="tablinks" id="projects" onclick="openTab(event, 'projects-tab')">Projects</button>
</div>

<!-- Tab content -->
<div id="courses-tab" class="tabcontent">
    <div class="bg-brand-blue container-lg center card shadow">
        <div class="container br-2 pt-1 pb-3">
            <a href="{% url 'professors:create_course' %}"><button class="bttn-brand-blue" style="border: 1px solid hsl(var( --clr-white ));">Create a new course</button></a>
        </div>

        {% for course in courses %}
        <div class="mb-4 bg-white">
            <div class="container">
                <div class="lightly-pad-container">
                    <h4 class="ff-sans-bolder">{{ course.code }} - {{ course.description }}</h4>
                    <a href="{% url 'professors:edit_course' course.id %}"><button class="bttn-outline-brand-blue-sm">Edit Course</button></a>
                    <a href="{% url 'professors:confirm_delete_course' course.id %}" class="ml-4"><button class="bttn-outline-danger-sm">Delete Course</button></a>
                </div>
            </div>
            {% sections_by_course course as sections %}
            {% for section in sections %}
            <div class="row card-row border-brand-blue">
                <div class="col-md">
                    <h5 class="ff-sans-bolder">{{ section.section_code }}</h5>
                    {{ section.description }}
                </div>
                <div class="col-sm">
                    {% with 'section-projects-'|addstr:section.id as s_id %}
                    <a href="{% url 'professors:add_students' professor.institution.id section.id 'courses' %}">{{ section|count_students_by_section }} students</a>
                    <a href="{% url 'professors:manage_courses_and_projects' 'projects' s_id %}" class="ml-4">{{ section|count_projects_by_section }} projects</a>
                    {% endwith %}
                </div>
                <div class="col-sm mr-auto">
                    <div class="d-flex pt-2">
                        <a href="{% url 'professors:edit_section' section.id %}"><button class="bttn-brand-blue-sm">Edit Section</button></a>
                        <a class="ml-3 text-danger" href="{% url 'professors:confirm_delete_section' section.id %}"><button class="bttn-danger-sm">Delete Section</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<div id="projects-tab" class="tabcontent">
    <div class="bg-brand-blue container-lg center card shadow">
        {% for course in courses %}
        {% projects_by_course course as projects %}

        {% if projects|length != 0 %}
        {% for project in projects %}
        <div class="mb-4 bg-white">
            <div class="row card-row border-brand-blue">
                <div class="col-sm">
                    <h4 class="ff-sans-bolder">{{ project.title }}</h4>
                    <p class="card-text">
                        {{ project.description|truncatechars:200 }}
                    </p>
                </div>
                <div class="col-sm">
                    <h5 class="ff-sans-bolder">{{ course.code }}</h5>
                </div>
                <div class="col-sm">
                    {{ project.end_date }}
                </div>
                <div class="col-sm">
                    <a href="{% url 'professors:edit_project' project.id %}"><button class="bttn-outline-brand-blue">Edit</button></a>
                    <a class="ml-4 text-danger" href="{% url 'professors:confirm_delete_project' project.id %}"><button class="bttn-outline-danger">Delete</button></a>
                </div>
            </div>
            <div class="p-4 text-break" style="margin-bottom: 1rem;">
                <h5 class="ff-sans-bolder">Sections assigned to Project</h5>
                <hr>
            </div>
            {% for section in course.section_set.all %}
            {% project_in_section project section as in_section %}
            {% if in_section %}
            {% with "section-projects-"|add:section.id as id %}
            <div class="row pl-4 pb-2" id='{{ id }}'>
            {% endwith %}
                <div class="col-sm ff-sans-bolder">{{ section.section_code }}</div>
                <span class="col-sm">
                    <a href="#">Evaluations</a>&emsp;&emsp;
                    <a href="{% url 'professors:add_students' professor.institution.id section.id 'projects' %}">Students</a>
                </span>
                <span class="col-sm">
                    <a href="{% url 'professors:confirm_remove_section' section.id project.id %}"><button class="bttn-outline-danger-sm">Unassign {{ section.section_code }}</button></a>
                </span>
            </div>
            <hr>
            {% endif %}
            {% endfor %}
            <br>
        </div>
        {% endfor %}
        {% endif %}

        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block body_scripts %}
<script>
function openTab(evt, tabID) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabID).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

{% if 'goto_tab' != '' %}
<script>
    let tab = document.getElementById("{{ goto_tab }}");
    tab.click();
</script>
{% endif %}
{% if 'goto_section' != '' %}
<script>
    let section = document.getElementById("{{ goto_section }}");
    section.click();
</script>
{% endif %}
{% endblock body_scripts %}