<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <title>PC - {% block page_title %}{% endblock page_title %}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="student, professor, rate, team, project, review, peer, group">
    <meta name="author" content="ProjectConnect">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index follow">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {% block more_links %}{% endblock more_links %}

    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <style>
        {% block page_style %}{% endblock page_style %}
    </style>
</head>

<body class="bg-white">
    <div class="page-container">
        <div class="content-wrap">
            <nav class="navbar navbar-expand-lg navbar-light bg-white shadow"
                    style="border-top: 1px solid hsl( var(--clr-brand-blue) ); border-bottom: 3px solid hsl( var(--clr-brand-blue) );">
                    <div class="navbar-brand">
                        <a href="{% url 'public_pages:index' %}"><img class="navbar-img" src="{% static 'img/projectconnect-logo-lg.png' %}"
                            alt="ProjectConnect logo featuring prominent C-shape with user icons" width="10%" style="margin-right: 1rem;"></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false", aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav mr-auto" style="text-align: center;">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'public_pages:index' %}" alt="Link to homepage">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                                    </svg>
                                    <br>Home<span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% block content %}

            {% endblock content %}
        </div>
    </div>

    <footer class="shadow text-right">
        <div>
            <a class="bttn-outline-brand-blue" href="#" alt="Link to About Us page" style="float: left; margin-top: 1em;">About Us</a>
            <span class="fs-100 text-right"><a href="#" style="text-decoration: none; color: #000;"> &copy;</a>
                &nbsp;ProjectConnect, Inc. 2022</span>
        </div>
        <div>
            <img class="navbar-img" id="hide-on-small-phone" src="{% static 'img/projectconnect-logo-footer.png' %}"
                alt="ProjectConnect logo featuring prominent C-shape with user icons" style="float: right;">
        </div>
    </footer>
</body>

</html>