{% extends './base.html' %}

{% block page_title %}About{% endblock page_title %}

{% block content %}
{% if 'goto_section' %}
<script> window.location.hash = '#{{ goto_section }}'; </script>
{% endif %}

<div class="lightly-pad-container bg-brand-blue text-white text-break">
    <div class="center">
        <h1 class="ff-sans-bolder text-center textshadow">About Us</h1>
    </div>
</div>

<div class="flow container">
    <div class="row card-row">
        <div class="col-sm card-thin-border" id="professors">
            <h3 class="text-center">Students</h3>
            <p class="card-text">
                Picking the right collaborators for a project can feel like a shot in
                the dark, especially if you haven't met many of your peers. You need to
                know who's responsible, who communicates well, or who can lead effectively.
                ProjectConnect aims at taking the guesswork out of choosing your teammates
                by showing you ratings of other students in your college and in your classes.
                By providing an easy way of searching through to find potential teammates, you
                can take some stress away of finding the perfect team.

                {% load static %}
                <img src="{% static 'img/about/Student.png' %}" scale="100%">
            </p>
        </div>
        <div class="col-xs"><p>&emsp;&emsp;</p></div>
        <div class="col-sm card-thin-border" id="students">
            <h3 class="text-center">Professors</h3>
            <p class="card-text">
                For class settings where the professor assigns teams,
                ProjectConnect offers a great way to get insight into which students
                will work well together, what problems students are having with their
                peers, and moderate students' evaluations. By providing ways for professors
                to easily create courses and keep sections uniquely identified, all the while
                allowing them to create specific projects within each course to keep track of
                progress.

                {% load static %}
                <img src="{% static 'img/about/Professors.PNG' %}">
            </p>
        </div>
    </div>
</div>
{% endblock content %}